@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* @import "prism.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: "Pretendard";
  }
  body {
    @apply text-black bg-background;
  }
}

:root {
  --border: 231 92% 52%;

  --primary: 231 92% 52%;

  --secondary: 230 70% 66%;

  --shade: 230 48% 34%;

  --faded: 222.2 47% 30%;

  --black: 222.2 47.4% 11.2%;

  --background: 0 0% 94%;

  --input: 0 0% 96.4%;

  --soft: 213 0% 90%;

  --washed: 232 42% 90%;

  --muted: 240 10% 70%;

  --dusty: 240 10% 50%;
}

.dark {
  --border: 236 100% 80%;

  --primary: 236 100% 80%;

  --secondary: 236 75% 65%;

  --shade: 240 10% 80%;

  --faded: 240 10% 80%;

  --black: 240 10% 80%;

  --background: 222.2 47.4% 11.2%;

  --input: 225 40% 15%;

  --soft: 225 40% 20%;

  --washed: 225 40% 20%;

  --muted: 227 17% 50%;

  --dusty: 227 19% 60%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-md {
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.text-xxl {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.prose {
  max-width: 100%;
}

.lucide {
  width: 1.5rem !important;
  height: 1.5rem !important;
  stroke-width: 1.5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  text-align: left;
  background-color: #f4f4f4;
}

h1 {
  margin-top: 3em !important;
}

h1,
h2 {
  scroll-margin-top: 10vh; /* TOC에서 바로가기 시 여백 크기 설정 */
  font-weight: 700 !important;
}

.box {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(45, 0, 209);
  z-index: -2;
}

.dark .box::before {
  background: rgb(154, 161, 255);
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(240, 240, 240);
  z-index: -1;
  clip-path: inherit;
}

.dark .box::after {
  background: rgb(17, 23, 41);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}
