@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

/* @import "prism.css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
    font-family: "Pretendard";
  }
  body {
    @apply text-black bg-background;
  }

  .prose h1 {
    color: hsl(222.2 47.4% 11.2%);
    font-size: 1.5rem !important; /* 24px */
    line-height: 2rem !important; /* 32px */
  }

  .prose h2 {
    color: hsl(222.2 47.4% 11.2%);
    margin-top: 5rem;
    font-size: 1.25rem !important;
    line-height: 1.7rem !important;
  }

  .prose h3 {
    color: hsl(222.2 47.4% 11.2%);
    margin-top: 4rem;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
  }

  .prose strong {
    color: hsl(222.2 47.4% 11.2%);
  }

  .dark .prose h1 {
    color: hsl(236, 77%, 88%);
  }

  .dark .prose h2 {
    color: hsl(238, 45%, 89%);
  }

  .dark .prose h3 {
    color: hsl(238, 45%, 89%);
  }

  .dark .prose strong {
    color: hsl(240 10% 85%);
  }

  .prose th,
  .prose td {
    border: 1px solid hsl(232 42% 90%);
    padding: 8px;
  }

  .prose th {
    background-color: hsl(0 0% 96.4%);
  }

  .dark .prose th,
  .dark .prose td {
    border: 1px solid hsl(225 30% 30%);
    padding: 8px;
  }

  .dark .prose th {
    background-color: hsl(225 40% 15%);
  }

  @media (min-width: 640px) {
    .prose h1 {
      font-size: 1.875rem !important; /* 30px */
      line-height: 2.25rem !important; /* 36px */
    }
  }
}

:root {
  --border: 231 92% 52%;

  --primary: 231 92% 52%;

  --secondary: 230 70% 66%;

  --shade: 230 48% 34%;

  --faded: 222.2 47% 30%;

  --black: 222.2 47.4% 11.2%;

  --background: 0 0% 94%;

  --input: 0 0% 96.4%;

  --soft: 213 0% 90%;

  --washed: 232 42% 90%;

  --muted: 240 10% 70%;

  --dusty: 240 10% 50%;
}

.dark {
  --border: 236 100% 80%;

  --primary: 236 100% 80%;

  --secondary: 236 75% 65%;

  --shade: 240 10% 80%;

  --faded: 240 10% 80%;

  --black: 240 10% 80%;

  --background: 222.2 47.4% 11.2%;

  --input: 225 40% 15%;

  --soft: 225 40% 20%;

  --washed: 225 40% 20%;

  --muted: 227 17% 50%;

  --dusty: 227 19% 60%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-md {
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.text-xxl {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.prose {
  max-width: 100%;
}

.lucide {
  width: 1.5rem !important;
  height: 1.5rem !important;
  stroke-width: 1.5px;
}

html,
body {
  overflow-x: hidden; /* 전체 페이지에 가로 스크롤을 방지 */
}

/* 테이블 레이아웃 고정 */
.prose table {
  table-layout: fixed; /* 테이블 레이아웃을 고정 */
}

/* 긴 텍스트가 넘치지 않도록 줄바꿈 처리 */
.prose td,
.prose th {
  word-wrap: break-word; /* 텍스트가 넘칠 경우 줄바꿈 */
  overflow: hidden;
}

h1 {
  margin-top: 6rem !important;
}

h1,
h2 {
  scroll-margin-top: 10vh; /* TOC에서 바로가기 시 여백 크기 설정 */
  font-weight: 700 !important;
}

.box {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: rgb(45, 0, 209);
  z-index: -2;
}

.dark .box::before {
  background: rgb(154, 161, 255);
}

.box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(240, 240, 240);
  z-index: -1;
  clip-path: inherit;
}

.dark .box::after {
  background: rgb(17, 23, 41);
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}
