@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-black bg-background;
  }

  .prose {
    h1,
    h2,
    h3,
    strong {
      color: hsl(222.2 47.4% 11.2%);
    }

    h1 {
      font-size: 1.5rem !important;
      line-height: 2rem !important;
    }

    h2 {
      margin-top: 5rem;
      font-size: 1.35rem !important;
      line-height: 1.7rem !important;
    }

    h3 {
      margin-top: 4rem;
      font-size: 1.125rem !important;
      line-height: 1.5rem !important;
    }

    table {
      table-layout: fixed;
    }

    th,
    td {
      border: 1px solid hsl(232 42% 90%);
      padding: 8px;
      word-wrap: break-word;
      overflow: hidden;
    }

    th {
      background-color: hsl(0 0% 96.4%);
    }

    .box {
      position: relative;
      transition: color 0.3s ease-in-out;
    }

    .box::before,
    .box::after {
      content: "";
      position: absolute;
      inset: 0;
      transition: color 0.3s ease;
    }

    .box::before {
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: hsl(231 92% 52%);
      z-index: -2;
    }

    .box::after {
      background: hsl(0 0% 94%);
      z-index: -1;
      clip-path: inherit;
    }

    .text-md {
      font-size: 1.05rem;
      line-height: 1.5rem;
    }

    .text-xxl {
      font-size: 1.3rem;
      line-height: 1.8rem;
    }

    .lucide {
      width: 1.5rem !important;
      height: 1.5rem !important;
      stroke-width: 1.5px;
    }
  }

  .dark .prose {
    h1,
    h2,
    h3,
    strong {
      color: hsl(236, 77%, 88%);
    }

    th,
    td {
      border: 1px solid hsl(225 30% 30%);
    }

    th {
      background-color: hsl(225 40% 15%);
    }

    .box::before {
      background: hsl(236 100% 80%);
    }

    .box::after {
      background: hsl(222.2 47.4% 11.2%);
    }
  }

  @media (min-width: 640px) {
    .prose h1 {
      font-size: 1.875rem !important;
      line-height: 2.25rem !important;
    }
  }

  html,
  body {
    overflow-x: hidden;
    overscroll-behavior-y: none;
    scroll-behavior: smooth;
  }

  html {
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
  }

  body {
    -ms-overflow-style: none;
  }

  h1,
  h2 {
    scroll-margin-top: 10vh;
    font-weight: 700 !important;
  }

  h1 {
    margin-top: 6rem !important;
  }

  ::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
  }
}

:root {
  --border: 231 92% 52%;

  --primary: 231 92% 52%;

  --secondary: 230 70% 66%;

  --shade: 230 48% 34%;

  --faded: 222.2 47% 30%;

  --black: 222.2 47.4% 11.2%;

  --background: 0 0% 94%;

  --input: 0 0% 96.4%;

  --soft: 213 0% 90%;

  --washed: 232 42% 90%;

  --muted: 240 10% 70%;

  --dusty: 240 10% 50%;
}

.dark {
  --border: 236 100% 80%;

  --primary: 236 100% 80%;

  --secondary: 236 75% 65%;

  --shade: 240 10% 80%;

  --faded: 240 10% 80%;

  --black: 240 10% 80%;

  --background: 222.2 47.4% 11.2%;

  --input: 225 40% 15%;

  --soft: 225 40% 20%;

  --washed: 225 40% 20%;

  --muted: 227 17% 50%;

  --dusty: 227 19% 60%;
}

.prose {
  max-width: 100%;
}
